.c {
  &__button-wrapper {
    &--flex {
      @media (min-width: 576px) {
        display: flex;
        margin-left: -7px;
        margin-right: -7px;
      }
      &__column {
        &--left {
          margin-bottom: 0.75rem;
          @media (min-width: 576px) {
            margin-bottom: 0;
          }
        }
        @media (min-width: 576px) {
          padding-left: 7px;
          padding-right: 7px;
        }
        .c {
          &__button {
            @media (max-width: 576px) {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
  &__hamburger {
    outline: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    display: block;
    transform: none;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    z-index: 1001;
    &:focus {
      outline: -webkit-focus-ring-color auto 1px;
    }
    &__line {
      display: block;
      width: 25px;
      height: 2px;
      background-color: var(--t-primary-branding-color);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      transform-origin: 50% 50%;
      margin-top: -1px;
      &-top {
        top: 0;
      }
      &-middle {
        top: 50%;
      }
      &-bottom {
        top: 100%;
      }
    }
    &--active {
      .c__hamburger__line-top {
        transform: translateX(-50%) rotate(45deg);
        top: 9px;
      }
      .c__hamburger__line-middle {
        opacity: 0;
      }
      .c__hamburger__line-bottom {
        transform: translateX(-50%) rotate(-45deg);
        top: 9px;
      }
    }
  }
  &__image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__richtext-field {
    p,
    ul li,
    ol li {
      font-size: inherit;
    }
    ol li {
      margin-bottom: 0.5rem;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 1rem;
        padding-left: 1.75rem;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 0;
          background-image: url(https://www.taylor.com/hubfs/_Taylor.com%20-%20All%20file%20connected%20%20to%20main%20site%20and%20blogs/Products%20Overview%20Pages/Omnichannel/Verson%202%20Update/icons/Check%20item%20text.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 20px;
          height: 18px;
        }
      }
    }
    &--list-dash {
      ul {
        li {
          margin-bottom: 0.5rem;
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='2' fill='url(%23paint0_linear_477_1137)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_477_1137' x1='1.01466' y1='0.130607' x2='1.41038' y2='3.28796' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23C000FF'/%3E%3Cstop offset='1' stop-color='%238A0ABF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            top: 12px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &__image {
      width: auto;
      height: 100%;
      max-width: 100%;
      border-radius: var(--t-global-image-border-radius);
    }
  }
  &__testimonial-banner {
    // background-color: var(--t-primary-branding-color);
    background: linear-gradient(348deg, #000 26.07%, #6b00bb 100.23%);
    border-radius: 40px;
    padding: 2rem;
    @media (min-width: 768px) {
      padding: 4rem;
    }
    .c {
      &__testimonial-banner {
        &__heading,
        &__title,
        &__company {
          color: var(--t-cp-base-white);
        }
      }
    }
  }
  &__cta-strip-stacked {
    &__wrapper {
      // background: linear-gradient(348deg, #000 16.07%, #1800ff 96.23%);
      background: linear-gradient(160deg, #000 26.07%, #1101ad 100.23%);
      padding: 2rem;
      border-radius: 40px;
      @media (min-width: 768px) {
        padding: 4rem;
      }
    }
  }
  &__spinner {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
    .path {
      stroke: var(--t-cp-base-white);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    &-wrapper {
      &--viewport {
        position: relative;
        min-height: 400px;
        .c {
          &__spinner {
            .path {
              stroke: var(--t-primary-branding-color);
            }
          }
        }
      }
    }
    &-parent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__absolute-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  // New component styles here
}
